@model LRSimulator.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "LRSimulator";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('.magnifying-glass').on('click', function (e) {
                e.preventDefault();
                $(this).siblings('input[type="text"]').focus().select();
            });

            $('#search-form').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                var setListContainer = $('#set-list-container');

                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (data) {
                        setListContainer.html(data);
                    }
                });

            });

        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Post, htmlAttributes: new { @style="margin-bottom: 10px;", @id="search-form" }))
        {
            <a href="#" class="magnifying-glass">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            @Html.TextBoxFor(model => model.SearchString, htmlAttributes: new { @class = "form-control" })
        }
    </div>
</div>

<div class="row">
    <div id="set-list-container">
        @await Html.PartialAsync("Sets", Model.Sets)
    </div>
    
</div>